---
permalink: /past/
---

<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}
    <div class="container">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-sm-12">
            <h1>Past Deadlines</h1>
          </div>
          <div class="meta col-12">
            Conference deadlines that have already passed. To add/edit a conference,
            <a
              target="_blank"
              href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/edit/gh-pages/_data/conferences.yml"
              >send in a pull request</a
            >.
          </div>
        </div>
        <br />
        <div class="row">
          <form class="container">
            <div class="row justify-content-center">
              <div class="row align-items-md-center col-12 col-10-md">
                <div class="col-12 col-md-5 filter-label">
                  <label
                    for="year-select"
                    class="align-center"
                    style="margin-bottom: 0px; line-height: 1.5"
                  >
                    Year Filter:
                  </label>
                </div>
                <div class="col-12 col-md-6">
                  <select
                    id="year-select"
                    name="year-select"
                    class="form-control"
                  >
                    <option value="all">All Years</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <br />
        <div class="row">
          <form class="container">
            <div class="row justify-content-center">
              <div class="row align-items-md-center col-12 col-10-md">
                <div class="col-12 col-md-5 filter-label">
                  <label
                    for="subject-select"
                    class="align-center"
                    style="margin-bottom: 0px; line-height: 1.5"
                  >
                    Research Area Filter:
                  </label>
                </div>
                <div class="col-12 col-md-6">
                  <select
                    id="subject-select"
                    name="subject-select"
                    multiple="multiple"
                    style="display: none"
                  >
                    {% for type in site.data.types %}
                    <option value="{{type.sub}}" id="{{type.sub}}-checkbox">
                      {{type.name}} ({{type.sub}})
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="meta col-12">
            <span class="local-timezone-hide">
              Deadlines are shown in
              <span class="local-timezone">America/New_York</span> time. To view
              them in conference website timezones, click on them.
            </span>
          </div>
        </div>
      </div>
      <div id="confs">
        <!-- Collect all past conferences regardless of year -->
        <div id="past_confs">
          <div id="sort-order-checkbox">
            <label for="sort-order"
              ><input type="checkbox" id="sort-order" name="sort-order" />Sort by Recent Deadlines</label
            >
          </div>
          {% for conf in site.data.conferences %}
          <div
            id="{{conf.id}}"
            class="ConfItem {% for sub in conf.sub %} {{sub}}-conf {% endfor %}"
            data-year="{{conf.year}}"
            style="display: none;"
          >
            <div class="row conf-row">
              <div class="col-6">
                <span class="conf-title">
                  <a
                    title="{% if conf.full_name %}{{conf.full_name}}{% else %}Deadline{% endif %} Details"
                    href="{{site.baseurl}}/conference?id={{ conf.id }}"
                    >{{conf.title}} {{conf.year}}</a
                  >
                </span>
                <span class="conf-title-small">
                  <a
                    title="{% if conf.full_name %}{{conf.full_name}}{% else %}Deadline{% endif %} Details"
                    href="{{site.baseurl}}/conference?id={{ conf.id }}"
                    >{{conf.title}} '{{conf.year | slice: -2, 3}}</a
                  >
                </span>
                <span class="conf-title-icon">
                  <a
                    title="Conference Website"
                    href="{{conf.link}}"
                    target="_blank"
                    ><img
                      src="{{site.baseurl}}/static/img/203-earth.svg"
                      class="badge-link"
                      alt="Link to Conference Website"
                  /></a>
                  &ZeroWidthSpace; {% if conf.paperslink %}
                  <a
                    title="Full List of Accepted Papers"
                    href="{{conf.paperslink}}"
                    target="_blank"
                    ><img
                      src="{{site.baseurl}}/static/img/033-books.svg"
                      class="badge-link"
                      alt="Full List of Accepted Papers"
                  /></a>
                  {% endif %} &ZeroWidthSpace; {% if conf.pwclink %}
                  <a
                    title="Browse All Papers with Code"
                    href="{{conf.pwclink}}"
                    target="_blank"
                  >
                    <div class="icon-inner badge-link">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        class="s-ion-icon"
                      >
                        <path
                          d="M88 128h48v256H88zM232 128h48v256h-48zM160 144h48v224h-48zM304 144h48v224h-48zM376 128h48v256h-48z"
                        ></path>
                        <path
                          d="M104 104V56H16v400h88v-48H64V104zM408 56v48h40v304h-40v48h88V56z"
                        ></path>
                      </svg>
                    </div>
                  </a>
                  {% endif %} &ZeroWidthSpace;
                </span>
              </div>
              <div class="col-6">
                <span class="deadline"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="meta">
                  <span class="conf-date">{{conf.date}}.</span>
                  <span class="conf-place">
                    {% if conf.place == "Online" %}
                    <a href="#">{{conf.place}}</a>. {% else %}
                    <a href="http://maps.google.com/?q={{conf.place}}"
                      >{{conf.place}}</a
                    >. {% endif %}
                  </span>
                </div>
                {% if conf.note %}
                <div class="note"><b>Note: </b>{{conf.note}}</div>
                {% endif %}
              </div>
              <div class="col-12 col-sm-6">
                {% if conf.abstract_deadline %}
                <div class="deadline">
                  <div>
                    <b>Abstract deadline:</b>
                    <span class="abstract-deadline-time"></span>
                  </div>
                </div>
                {% endif %}
                <div class="deadline">
                  <div>
                    <b>Deadline:</b>
                    <span class="deadline-time"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                {% for sub in conf.sub %}
                <span
                  title="Click to only show {{sub}} conferences"
                  data-sub="{{sub}}"
                  class="conf-sub {{sub}}-tag"
                ></span>
                {% endfor %}
              </div>
            </div>
            <hr />
          </div>
          {% endfor %}
        </div>
      </div>
      <footer>{% include footer.html %}</footer>
      <br /><br />
    </div>
    <script type="text/javascript" charset="utf-8">
      $(function () {
        // Make sure this is >= no. of subs
        // Currently not used
        var colors = ['#341f97', '#ee5253', '#2e86de',
          '#ff9f43', '#10ac84', '#222f3e']


        {% include load_data.js %}
        {% include utils.js %}
        {% include multiselect_handler.js %}

        addUtcTimeZones();

        try {
          var local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
          $('.local-timezone').text(local_timezone.toString());
        }
        catch (err) {
          $('.local-timezone-hide').hide();
        }

        // Collect unique years
        var years = new Set();

        {% for conf in site.data.conferences %}
        {% for sub in conf.sub %}
        $('#{{conf.id}} .{{sub}}-tag').html(sub2name["{{sub}}"].toLocaleLowerCase());
        {% endfor %}
        {% if conf.deadline == "TBA" %}
        $('#{{conf.id}} .deadline-time').html("TBA");
        {% else %}
        // adjust date according to deadline timezone
        var timezone = {% if conf.timezone %}"{{conf.timezone}}" {% else %} "America/New_York" {% endif %};
        var confDate = moment.tz("{{conf.deadline}}", timezone);
        var abstractDeadline = null;
        {% if conf.abstract_deadline %}
        abstractDeadline = moment.tz("{{conf.abstract_deadline}}", timezone);
        {% endif %}

        // convert deadline to local timezone
        try {
          var localConfDate = moment.tz(confDate, local_timezone);
          $('#{{conf.id}} .deadline-time').html(localConfDate.toString());
        }
        catch (err) {
          console.log("Error converting to local timezone.");
        }

        // convert abstract deadline to local timezone
        if (abstractDeadline) {
          try {
            var localAbstractDeadline = moment.tz(abstractDeadline, local_timezone);
            $('#{{conf.id}} .abstract-deadline-time').html(localAbstractDeadline.toString());
          }
          catch (err) {
            console.log("Error converting to local timezone.");
          }
        }

        // check if deadline has passed
        var today = moment();
        diff = today.diff(confDate);

        $('#{{conf.id}}').attr("diff", diff);
        
        if (diff > 0) {
          // This is a past deadline, add it to the list and collect year
          $('#{{conf.id}}').addClass('past');
          years.add({{conf.year}});
        } else {
          // Not a past deadline, remove it from DOM
          $('#{{conf.id}}').remove();
        }
        {% endif %}
        {% endfor %}

        // Populate year dropdown
        var yearArray = Array.from(years).sort((a, b) => b - a);
        yearArray.forEach(function(year) {
          $('#year-select').append($('<option>', {
            value: year,
            text: year
          }));
        });

        // Set default year to current year if available, otherwise most recent
        var currentYear = new Date().getFullYear();
        if (years.has(currentYear)) {
          $('#year-select').val(currentYear);
        } else if (yearArray.length > 0) {
          $('#year-select').val(yearArray[0]);
        }

        // Store original update_filtering
        var original_update_filtering = update_filtering;
        
        // Function to apply both subject and year filters
        function applyFilters() {
          var selectedYear = $('#year-select').val();
          
          // First apply subject filter using original function
          original_update_filtering({ subs: subs, all_subs: all_subs });
          
          // Then apply year filter on top of subject filter
          if (selectedYear === 'all') {
            // Show all past deadlines that match subject filter
            $('.ConfItem.past').each(function() {
              var shouldShow = false;
              for (const s of subs) {
                if ($(this).hasClass(s + '-conf')) {
                  shouldShow = true;
                  break;
                }
              }
              if (shouldShow) {
                $(this).show();
              }
            });
          } else {
            // Only show past deadlines for selected year that match subject filter
            $('.ConfItem.past').hide();
            $('.ConfItem.past[data-year="' + selectedYear + '"]').each(function() {
              var shouldShow = false;
              for (const s of subs) {
                if ($(this).hasClass(s + '-conf')) {
                  shouldShow = true;
                  break;
                }
              }
              if (shouldShow) {
                $(this).show();
              }
            });
          }
        }
        
        // Function to filter by year
        function filterByYear() {
          applyFilters();
        }

        // Override update_filtering to work with year filter
        update_filtering = function(data) {
          subs = data.subs;  // Update global subs variable
          applyFilters();
        };

        // Year filter change handler
        $('#year-select').on('change', filterByYear);

        // Initial sort alphabetically (A-Z by default)
        $("#past_confs .ConfItem").sort(function (a, b) {
          var titleA = $(a).find('.conf-title a').text().toLowerCase();
          var titleB = $(b).find('.conf-title a').text().toLowerCase();
          return titleA.localeCompare(titleB);
        }).appendTo($("#past_confs"));

        {% include handle_url_retrieval.js %}

        // Apply initial filters (after handle_url_retrieval sets subs)
        applyFilters();

        // Sort order toggle
        $("#sort-order-checkbox input").on("click", function () {
          if ($("#sort-order-checkbox input").is(":checked")) {
            // Sort by most recent deadlines (most recent first)
            $("#past_confs .ConfItem").sort(function (a, b) {
              var diffA = parseInt($(a).attr('diff'));
              var diffB = parseInt($(b).attr('diff'));
              return diffA - diffB;  // Smaller diff = more recent
            }).appendTo($("#past_confs"));
          } else {
            // Sort A-Z (default alphabetical)
            $("#past_confs .ConfItem").sort(function (a, b) {
              var titleA = $(a).find('.conf-title a').text().toLowerCase();
              var titleB = $(b).find('.conf-title a').text().toLowerCase();
              return titleA.localeCompare(titleB);
            }).appendTo($("#past_confs"));
          }
        });

        // Event handler on sub badge click
        $('.conf-sub').click(function (e) {
          var csub = $(this).data('sub');
          subs = [csub];
          $("#subject-select").multiselect('deselect', all_subs);
          $("#subject-select").multiselect('select', subs);
          update_filtering({ subs: subs, all_subs: all_subs });
        });

      });
    </script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-5GH7DJ9VFY"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-5GH7DJ9VFY');
    </script>
  </body>
</html>
